<div class="layout-vertical spacing-m">
    <div class="bold" *ngIf="menu.name">
        {{menu.name}}
    </div>
    <div class="layout-vertical spacing-m">
        <div class="layout__item layout-horizontal align-ce" *ngFor="let item of menu.dishes">
            <div class="layout__item flex-base">{{item.dish.name}}</div>
            <div class="layout__item">{{item.dish.price}}</div>
        </div>
    </div>
</div>