<div>
    <kruHeader (onBack)="cancel()">
        <div class="tabs layout-horizontal spacing-m">
            <a class="layout__item tabs__link tabs__link--active">
                {{'step.tabs.time' | translate}}
            </a>
            <a class="layout__item tabs__link tabs__link--disabled">
                {{'step.tabs.place' | translate}}
            </a>
            <a class="layout__item tabs__link tabs__link--disabled">
                {{'step.tabs.info' | translate}}
            </a>
        </div>
    </kruHeader>
    <div class="container container--app">
        <div class="layout-vertical spacing-l" *ngIf="activity">                    
            <h3 class="layout__item text-center">
                {{'step.time.title' | translate}}
            </h3>
            <form (ngSubmit)="submit($event)" class="layout__item layout-vertical spacing-m align-sc">
                <div class="layout__item layout-horizontal spacing-m align-cs">
                    <div class="layout__item layout-vertical spacing-m">
                        <div class="layout__item text-auxiliary text-small text-center">
                            {{'step.time.hours' | translate}}
                        </div>
                        <button
                            type="button"
                            class="layout__item btn-radio"
                            (click)="setHour(hour)"
                            [ngClass]="{'btn-radio--selected': activity.startAt.getHours() == hour}"
                            *ngFor="let hour of radioHours">
                            {{hour}}
                        </button>
                    </div>
                    <div class="layout__item layout-vertical spacing-m">
                        <div class="layout__item text-auxiliary  text-small text-center">
                            {{'step.time.minutes' | translate}}
                        </div>
                        <button
                            type="button"
                            class="layout__item btn-radio"
                            (click)="setMinute(minute)"
                            [ngClass]="{'btn-radio--selected': activity.startAt.getMinutes() == minute}"
                            *ngFor="let minute of radioMinutes">
                            {{minute}}
                        </button>
                    </div>
                </div>
                <div class="hide-small layout__item layout-vertical spacing-m">
                    <button
                        type="button"
                        class="layout__item btn-radio"
                        [ngClass]="{'btn-radio--selected': hasCustomTime}"
                        [ngxTimepicker]="picker"
                        [format]="24">
                        {{customTime}}
                        </button>
                    <div class="layout__item layout-horizontal align-cc">
                        <div class="shadow-wrapper">
                            <button class="btn btn--primary" type="submit">
                                {{'step.time.next' | translate}}
                            </button>
                        </div>
                    </div>
                    <ngx-material-timepicker #picker (timeSet)="setTime($event)"></ngx-material-timepicker>
                </div>
                <div class="hide-medium hide-large layout__item layout-vertical spacing-m">
                    <button 
                        type="button"
                        class="layout__item btn-radio"
                        [ngClass]="{'btn-radio--selected': hasCustomTime}"
                        (click)="openPicker()">
                        {{customTime}}
                    </button>
                    <input
                        type="time"
                        class="layout__item form__input form__input--hidden"
                        [ngModel]="formatedTime"
                        (ngModelChange)="setTime($event)"
                        [ngModelOptions]="{standalone: true}"
                        #timeInput>
                </div>
            </form>
        </div>
    </div>
    <div class="position-fixed-bottom hide-medium hide-large">
        <div class="layout-horizontal align-ec">
            <div class="shadow-wrapper shadow--full-radius">
                <button class="btn btn--primary btn--action" (click)="submit()" aria-label="next step">
                    <span class="ti-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>
</div>