<div>
    <kruHeader (onBack)="back()" [loading]="model.loading().is()">
        <div class="tabs layout-horizontal spacing-m">
            <a class="layout__item tabs__link" (click)="toStepTime()">
                {{'step.tabs.time' | translate}}
            </a>
            <a class="layout__item tabs__link" (click)="back()">
                {{'step.tabs.place' | translate}}
            </a>
            <a class="layout__item tabs__link tabs__link--active">
                {{'step.tabs.info' | translate}}
            </a>
        </div>
    </kruHeader>
    <div class="container container--app">
        <div class="layout-vertical spacing-l">
            <div class="layout__item layout-vertical spacing-s">
                <h3 class="layout__item text-center">
                    {{'step.info.title' | translate}}
                </h3>
                <div class="layout__item text-auxiliary text-center text-small">
                    {{'step.info.optional' | translate}}
                </div>
            </div>
            <form (ngSubmit)="submit()" class="layout__item layout-vertical spacing-m hide-small" #form="ngForm">
                <textarea
                    class="layout__item form__input"
                    [(ngModel)]="activity.text"
                    (keydown)="onKeydown($event)"
                    [ngModelOptions]="{standalone: true}"
                    autocomplete="off"
                    [attr.placeholder]="'step.info.placeholder' | translate"
                    kruAutosize="32px"
                    [attr.aria-label]="'step.info.placeholder' | translate"
                    kruAutofocus></textarea>
                <div class="layout__item layout-horizontal align-es">
                    <div class="shadow-wrapper shadow--primary">
                        <button 
                            class="btn btn--primary"
                            [disabled]="model.loading().is()">
                            {{'step.info.next' | translate}}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="position-fixed-bottom hide-medium hide-large">
        <form (ngSubmit)="submit()" class="layout-horizontal spacing-m align-ce flex" #form="ngForm">
            <textarea
                class="layout__item form__input"
                flex
                autocomplete="off"
                kruAutosize="32px"
                [attr.placeholder]="'step.info.placeholder' | translate"
                [attr.aria-label]="'step.info.placeholder' | translate"
                [(ngModel)]="activity.text"
                [ngModelOptions]="{standalone: true}"
                (keydown)="onKeydown($event)"></textarea>
            <div class="layout__item shadow-wrapper shadow--full-radius">
                <button
                    class="btn btn--primary btn--action"
                    type="submit"
                    [disabled]="model.loading().is()"
                    aria-label="create lunch">
                    <span class="ti-check"></span>
                </button>
            </div>
        </form>
    </div>
</div>