
@import "../../../styles/config.scss";

.header-title {
    color: var(--color-text-on-primary);
    font-size: 2.2em;
    text-align: center;
    width: 100%;
    z-index: 2;
    height: 80px;
    flex: 0 0 auto;

    &::before {
        content: '';
        position: absolute;
        z-index: 0;
        background-color: var(--color-primary);
        height: 90px;
        width: 100%;
        top: -30px;
        max-width: 1200px;
        border-radius: 50% / 100%;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        margin: auto;
    }

    &__text {
        margin-top: 10px;
        z-index: 1;
        width: 100%;
    }
    
    &__icon {
        width: 28px;
        height: 26px;
        font-size: inherit;
    }
}

@media only screen and (max-width: map-get($breakpoints, "small")) {
    .header-title::before {
        border-radius: 0 100% 100%/ 0 0 100% 100%;
        top: 0px;
        height: 60px;
    }
}