<div class="pane layout-vertical">
    <div class="header-title layout-horizontal align-cs">
        <span class="header-title__text">
            <img class="header-title__icon" src="/assets/images/ovaldo_white.png" alt="O">valdo</span>
    </div>
    <div class="layout-horizontal align-cc">
        <select
            class="form__input"
            [(ngModel)]="language"
            (ngModelChange)="onLanguageSelect($event)"
            aria-label="language">
            <option value="en">EN</option>
            <option value="sk">SK</option>
        </select>
    </div>
    <div class="container layout-vertical spacing-l flex">
        <div class="layout__item layout-vertical align-cs spacing-l flex">
            <h1 class="layout__item container-title">{{'home.title' | translate}}</h1>
            <p class="layout__item" [innerHTML]="'home.description' | translate"></p>
            <form (submit)="onSubmit()" class="layout__item layout-horizontal">
                <input
                    name="name"
                class="form__input form__input--important combine-border-horizontal flex"
                    style="width: auto;"
                    type="text"
                    [attr.placeholder]="placeholder"
                    [(ngModel)]="name"
                    (ngModelChange)="onInputChange($event)"
                    autocomplete="off" 
                    aria-label="code" />
                <button
                    class="btn btn--primary combine-border-horizontal"
                    type="submit"
                    [kruTooltip]="'home.input-url-tooltip' | translate:{value: connectRoomName}"
                    preferVertical="top"
                    [tooltipDisabled]="!showParselinkTooltip"
                    [tooltipForce]="showParselinkTooltip">{{'home.go' | translate}}</button>  
            </form>
        </div>
        <footer class="layout__item text-center layout-vertical spacing-s">
            <div class="layout__item" [innerHTML]="'footer.instagram' | translate"></div>
            <div class="layout__item" [innerHTML]="'footer.contact' | translate"></div>
        </footer>
    </div>
</div>