@import "../../../styles/config.scss";

$header-height: 80px;
$header-height-mobile: 60px;

.header {
    position: fixed;
    width: 100%;
    height: $header-height;
    background-color: var(--color-bg);
    z-index: 5;
    max-width: 1200px;
}

.header-shadow::before {
    content: '';
    opacity: 0.5;
    z-index: 1;
    position: fixed;
    display: block;
    width: 100%;
    max-width: 1200px;
    height: 50px;
    border-radius: 30% / 70%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    top: $header-height - 30px;
    background-color: var(--color-shadow);
}

.timeline.timeline--header {
    position: absolute;
    top: auto;
    bottom: 0px;
    transform: translateY(50%);
    z-index: 2;
    height: 26px;
}

.loading-animation__under-line::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    transform: translateX(-3px) translateY(-6px);
    background-color: var(--color-primary);
    animation: under-line 2.0s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
}
