<div class="header-shadow layout-horizontal align-cs">
    <div class="header layout-horizontal align-cc" [ngClass]="{'loading-animation__under-line': isLoading}">
        <div class="container flex layout-horizontal align-sc">
            <div class="shadow-wrapper shadow--full-radius action-navigation-item position-navigation">
                <button class="btn btn--secondary btn--action" (click)="back()" *ngIf="isBackVisible()" aria-label="back">
                    <span class="ti-arrow-left"></span>
                </button>
            </div>
            <ng-content class="flex"></ng-content>
        </div>
        <div class="timeline timeline--header layout-horizontal align-cc">
            <div class="timeline-time" *ngIf="timelineText">{{timelineText}}</div>
        </div>
    </div>
</div>