@import "config";

.autocomplete {
    &__options {
        position: absolute;
        left: 0px;
        width: 100%;
        z-index: 2;
        box-sizing: border-box;
        background-color: var(--color-bg);
        border: 2px solid var(--color-secondary);
        border-radius: 5px;

        &--bottom {
            top: 100%;
            transform: translateY(4px);
        }

        &--top {
            bottom: 100%;
            transform: translateY(-4px);
        }

        .autocomplete__options-item:last-of-type {
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
        }

        .autocomplete__options-item:first-of-type {
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
        }
    }
    
    &__options-item {
        $self: &;
        padding: $unitSize;
        color: var(--color-primary);
        background-color: var(--color-bg);

        &--active {
            background-color: var(--color-secondary);
        }
    }
}