@import "config";

.btn {
    outline: none;
    border: none;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
    box-sizing: border-box;
    transition: opacity 200ms ease,
        background-color 200ms ease,
        color 200ms ease,
        border-color 200ms ease,
        transform 100ms ease;

    &:focus {
        outline: var(--focus-outline);
    }

    &--primary {
        background-color: var(--color-primary);
        color: var(--color-text-on-primary);
        padding: var(--size-s) var(--size-m);
    }

    &--secondary {
        background-color: var(--color-bg);
        color: var(--color-text);
        padding: var(--size-s) var(--size-m);
    }

    &--action {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        place-content: center;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        z-index: 1;
    }

    &:active {
        transform: scale(1.1);
        outline: none;
    }

    &:disabled {
        background-color: var(--btn-disabled-bg);
        color: var(--btn-disabled-fg);
        cursor: not-allowed;
    }

    &--border {
        background-color: var(--color-bg);
        padding: var(--size-s) var(--size-m);
        color: var(--color-primary);
        border: solid 1px var(--color-border);
    }

    &--border:hover {
        border-color: var(--color-primary);
    }

    &--border:active {
        transform: scale(0.9);
    }
}

.btn-radio {
    outline: none;
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
    font-size: 1.5em;
    border-radius: 8px;
    padding: var(--size-s) var(--size-m);
    background-color: var(--color-bg);
    border: solid 1px var(--color-border);
    color: var(--color-text);
    transition: color 200ms ease,
        border-color 200ms ease,
        transform 100ms ease;

    &:focus {
        outline: var(--focus-outline);
    }

    &:active {
        transform: scale(0.9);
        outline: none;
    }

    &--selected, &:hover {
        border-color: var(--color-primary);
        color: var(--color-primary);
    }

    &:disabled {
        border: solid 1px var(--color-border);
        color: var(--btn-disabled-bg);
        cursor: not-allowed;
    }
}

.shadow-wrapper::before {
    content: '';
    opacity: 0.5;
    position: absolute;
    display: block;
    border-radius: 5px;
    width: auto;
    height: auto;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    background-color: var(--color-primary);
    transition: padding 200ms ease,
        top 200ms ease,
        left 200ms ease,
        right 200ms ease,
        bottom 200ms ease,
        background-color 200ms ease,
        opacity 200ms ease,
        border-radius 200ms ease;
}

.shadow-wrapper.shadow--dark::before {
    background-color: var(--color-shadow);
}

.shadow-wrapper:hover::before, .shadow-wrapper.shadow--active::before {
    left: -6px;
    top: -6px;
    right: -6px;
    bottom: -6px;
    border-radius: 7px;
}

.shadow-wrapper.shadow--highlight::before {
    animation: shadow-pulse 1800ms 0s infinite normal forwards;
}

.shadow-wrapper.shadow--full-radius::before, .shadow-wrapper.shadow--full-radius:hover::before {
    border-radius: 100%;
}

.shadow-wrapper.shadow--em-radius::before {
    font-size: 2em;
    border-radius: 1em;
}

.shadow-wrapper.shadow--highlight:hover::before {
    animation: none;
}

@media only screen and (max-width: map-get($breakpoints, "small")) {
    .btn {
        &--action {
            width: 40px;
            height: 40px;
            z-index: 1;
        }
    }
}