.card {
    display: block;
    padding: var(--size-m);
    background-color: var(--color-bg);
    color: var(--color-text);
    border: var(--card-border-color) 1px solid;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    transition: 
        border-radius 200ms ease,
        background-color 200ms ease,
        border-color 200ms ease,
        color 200ms ease;

    &--inverse {
        --color-text: #ffffff;
        --color-bg: #fe5d48;
        --card-border-color: #fe5d48;
        --color-secondary: #f88576;

        --color-primary: #ffffff;
        --color-text-on-primary: #fe5d48;
    }

    :root.dark &--inverse {
        --color-bg: #c74a3a;
        --card-border-color: #c74a3a;
        --color-secondary: #d46d60;

        --color-text-on-primary: #c74a3a;
    }

    &__header {
        font-weight: bold;
    }
    
    &__header--note {
        color: var(--color-tex-auxuliary);
    }
}

.card:not(:last-of-type) {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.card:not(:first-of-type) {
    border-top: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}