@import "config";

.form {
    &__input {
        position: relative;
        display: block;
        box-sizing: border-box;
        padding: $unitSize $unitSize * 2;
        border-radius: 5px;
        background-color: var(--color-bg);
        border: solid 1px var(--color-border);
        transition: border-color 200ms ease;

        &--no-border {
            border-color: transparent;
        }

        &:hover {
            border-color: var(--color-secondary);
        }

        &:focus {
            outline: var(--focu-outline);
        }
    
        &:focus, &--focus, &--focus:hover {
            border-color: var(--color-primary);

            .form__input-label {
                color: var(--color-primary);
            }
        }

        &--error {
            border-color: var(--color-text-error);
        }

        &--loading-animation::before {
            content: "";
            position: absolute;
            width: 5px;
            height: 5px;
            transform: translateX(-3px) translateY(-6px);
            background-color: var(--color-primary);
            animation: round-and-round 2.4s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
        }

        &--hidden {
            visibility: hidden;
            height: 0;
            padding: 0;
            margin: 0;
            border: none;
        }
    }

    &__input-label {
        margin-bottom: $unitSize;
        font-size: 0.7em;
        position: relative;
        color: var(--color-text);
        transition: color 200ms ease;
    }
}