@import "config";
@import "layout";
@import "button";
@import "link";
@import "tabs";
@import "card";
@import "form";
@import "autocomplete";
@import "tag";
@import "initials";
@import "timeline";
@import "navigation";

@font-face {
    font-family: 'Open Sans';
    font-display: swap;
    src: local('Open Sans'),
        url('/assets/fonts/Open Sans/OpenSans-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Open Sans';
    font-display: swap;
    src: local('Open Sans'),
        url('/assets/fonts/Open Sans/OpenSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    font-display: swap;
    src: local('Open Sans'),
        url('/assets/fonts/Open Sans/OpenSans-Light.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

body {
    color: var(--color-text);
    background-color: var(--color-bg);
}

input, textarea {
    border: none;
    background-color: transparent;
    width: 100%;
    color: var(--color-text);
}

h1 {
    font-size: 3.0em;
    font-family: "Open Sans";
    font-weight: 400;
}

h2 {
    font-size: 1.8em;
    font-family: "Open Sans";
    font-weight: 400;
}

h3 {
    font-size: 1.2em;
}

p {
    line-height: 1.65em;
}

input:focus, textarea:focus {
    outline: none;
}

textarea {
    box-sizing: border-box;
}

select {
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    color: var(--color-text);
    cursor: pointer;
}

select:focus, select:active {
    color: var(--color-primary);
}