.initials {
    width: 22px;
    height: 22px;
    border-radius: 100%;
    font-size: 0.8em;
    transition: background-color 200ms ease,
        color 200ms ease,
        opacity 200ms ease;

    &--clickable {
        opacity: 0.9;
        cursor: pointer;
    }

    &--clickable:hover {
        opacity: 1;
    }

    &--strawberry {
        background-color: #FFE2E2;
        color: #863838;
    }
    &--orange {
        background-color: #FFE4D5;
        color: #864F38;
    }
    &--tangerine {
        background-color: #FFF1CC;
        color: #7E5D2C;
    }
    &--lemon {
        background-color: #F7FFC4;
        color: #866B38;
    }
    &--green-apple {
        background-color: #E9FFCE;
        color: #526E17;
    }
    &--melon {
        background-color: #D7FFE2;
        color: #2C7563;
    }
    &--smurf {
        background-color: #D2FCFF;
        color: #246D73;
    }
    &--blueberry {
        background-color: #DAEBFF;
        color: #295383;
    }
    &--blackberry {
        background-color: #DFDFFF;
        color: #4C3787;
    }
    &--grape {
        background-color: #FFE2F2;
        color: #683886;
    }

    &--btn {
        cursor: pointer;
        padding: 0px;
        opacity: 0.9;
        border: solid 1px var(--color-primary);
        background-color: var(--color-bg);
        color: var(--color-primary);
        transition: opacity 200ms ease;
    }

    &--btn:hover {
        opacity: 1;
    }
}