@import "config";

:root {
    --color-bg: #ffffff;
    --color-border: #DFDFDF;
    --color-text: #050507;
    --color-text-auxiliary: #909090;
    --color-primary: #fe5d48;
    --color-text-on-primary: #ffffff;
    --color-secondary: #faccc6;
    --color-shadow: #dfdfdf;

    --color-text-error: #e43c3c;

    --size-s: 8px;
    --size-m: 16px;
    --size-l: 32px;

    --color-link-active: #fe5d48;
    --color-link: #fe8d7f;
    --color-link-disabled: #909090;

    --btn-disabled-bg: #EFEFEF;
    --btn-disabled-fg: #050507;

    --tooltip-color-bg: #323232;
    --tooltip-color-fg: #ffffff;

    --toast-color-bg: #323232;
    --toast-color-fg: #ffffff;

    --card-border-color: #DFDFDF;

    --focus-outline: solid 2px #4477db;
}

.dark:root {
    --color-bg: #323232;
    --color-primary: #c74a3a;
    --color-border: #494949;
    --color-text: #fafafa;
    --color-secondary: #503733;
    --color-shadow: #222222;

    --color-link-active: #c74a3a;
    --color-link: #9a4237;

    --btn-disabled-bg: #616161;
    --btn-disabled-fg: #c0c0c0;

    --tooltip-color-bg: #222222;

    --toast-color-bg: #222222;

    --card-border-color: #494949;
}

.pane {
    height: 100%;
}

.divify {
    position: relative;
    display: block;
}

.container {
    margin: 0px auto;
    padding: $unitSize * 4 $unitSize * 2;
    max-width: 500px;
    box-sizing: border-box;

    &--app {
        position: relative;
        margin-top: 93px;
    }

    &--no-padding {
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

.container-title {
    text-align: center;
}

.position {
    &--absolute-center {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    &-navigation {
        position: fixed;
        right: 50%;
        transform: translateX(-300px);
        z-index: 2;
    }

    &-side {
        position: fixed;
        left: 50%;
        transform: translateX(300px);
        width: 300px;
        top: 125px;
        bottom: 0px;
    }

    &-toasts {
        position: fixed;
        width: 100%;;
        bottom: $unitSize * 2;
        left: 50%;
        transform: translateX(-50%);
    }

    &-fixed-bottom {
        position: fixed;
        box-sizing: border-box;
        z-index: 3;
        bottom: 0px;
        left: 0px;
        background-color: var(--color-bg);
        border-top: solid 1px var(--color-border);
        width: 100%;
        min-height: 57px;
        padding: 10px;
    }
}

@media only screen and (max-width: map-get($breakpoints, "medium")) {
    .container {
        max-width: 400px;
    }

    .position-side {
        transform: translateX(220px);
        width: 250px;
    }

    .position-navigation {
        transform: translateX(-220px);
    }

    .hide--lt-medium {
        display: none;
    }
}

@media only screen and (max-width: map-get($breakpoints, "small")) {
    .container {
        max-width: 100%;

        &--app {
            margin-bottom: 57px;
        }
    }

    .container-title {
        text-align: left;
    }

    .hide--small {
        display: none;
    }

    .position-navigation {
        position: relative;
        transform: translateX(0px);
        right: 0%;
        margin-right: 16px;
    }

    .position-side {
        display: none;
    }

    .position-toasts {
        bottom: 80px;
    }
}

@media only screen and (min-width: map-get($breakpoints, "small")) {
    .hide--gt-small {
        display: none;
    }
}