@import "config";

.navigation {
    position: fixed;
    box-sizing: border-box;
    width: auto;
    right: 50%;
    top: 125px;
    transform: translateX(-300px);
    z-index: 2;
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg);

    &__item {
        margin-top: var(--size-m);
    }

    &__item:first-child {
        margin-top: 0px;
    }
}

@media only screen and (max-width: map-get($breakpoints, "medium")) {
    .navigation {
        transform: translateX(-220px);
    }
}

@media only screen and (max-width: map-get($breakpoints, "small")) {
    .navigation {
        width: 100%;
        bottom: 0px;
        top: auto;
        right: auto;
        transform: translateX(0px);
        flex-direction: row;
        justify-content: space-around;
        padding: var(--size-s);
        border-top: 1px solid var(--color-border);

        &__item {
            margin-top: 0px;
        }
    }
}