.tabs {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    &__link {
        text-decoration: none;
        color: var(--color-link);
        transition: color 200ms ease;
        cursor: pointer;
        font-size: 0.75em;

        &:hover, &--active {
            color: var(--color-link-active);
        }

        &--disabled, &--disabled:hover {
            cursor: not-allowed;
            color: var(--color-link-disabled)
        }
    }
}