.tag {
    cursor: pointer;
    padding: var(--size-s);
    border-radius: 3px;
    font-size: 0.6em;
    font-weight: 400;
    transition: color 200ms ease,
        opacity 200ms ease,
        background-color 200ms ease,
        transform 100ms ease;

    &:active {
        transform: scale(0.9);
    }

    &--glass {
        color: var(--color-text);
        background-color: var(--color-secondary);
        opacity: 0.8;
    }

    &--glass:hover {
        opacity: 1;
    }
}