.timeline {
    width: 100%;
}

.timeline::before {
    content: '';
    height: 12px;
    width: 100%;
    border-bottom: solid 1px var(--color-border);
    position: absolute;
    top: 0px;
    z-index: -1;
}

.timeline-time {
    padding: 4px 12px;
    position: relative;
    background-color: var(--color-bg);
    color: var(--color-text);
    border-radius: 5px;
    border: solid 1px var(--color-border);
}

.timeline-time:not(:first-of-type), .selected-activity-time:not(:first-of-type) {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.timeline-time:not(:last-of-type), .selected-activity-time:not(:last-of-type) {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}