<div>
    <kruHeader (onBack)="cancel()" [loading]="model.loading().is()">
        <div class="tabs layout-horizontal spacing-m">
            <a class="tabs__link tabs__link--active">
                {{'profile.tabs.profile' | translate}}
            </a>
        </div>
    </kruHeader>
    <div class="container container--app">
        <div class="layout-vertical spacing-l">
            <div class="layout__item layout-vertical spacing-s">
                <h3 class="layout__item text-center">
                    {{'profile.profile.title' | translate}}
                </h3>
                <div class="layout__item text-error text-center text-small" *ngIf="!isFormValid()">
                    {{'profile.profile.validation' | translate}}
                </div>
            </div>
            <form 
                class="layout__item layout-vertical spacing-m"
                ngForm
                name="name_update"
                (ngSubmit)="update($event)">
                <label 
                    class="layout__item form__input clickable"
                    kruFocusClass="form__input--focus"
                    [bindFocusElement]="nameInput">
                    <div class="form__input-label">
                        {{'profile.profile.name-label' | translate}}
                    </div>
                    <input 
                        type="text"
                        name="name"
                        placeholder=""
                        [(ngModel)]="name"
                        #nameInput>
                </label>        
                <div class="layout__item layout-horizontal align-es">
                    <div class="shadow-wrapper">
                        <button 
                            [disabled]="model.loading().is()" 
                            class="btn btn--primary layout" 
                            type="submit" 
                            [disabled]="!isFormValid()">
                            {{'profile.profile.submit' | translate}}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>