<div>
    <div [ngClass]="{'hide--small': place}">
        <kruHeader
            (onBack)="back()"
            [loading]="model?.loading().is()"
            [timelineText]="activeTime">
            <h2 class="text-ellipsis flex">
                <span *ngIf="room">{{room.getName()}}</span>
            </h2>
            <div class="layout-horizontal spacing-s" *ngIf="selectedActivity">
                <kruCountdown
                class="layout__item divify"
                [kruTime]="countdownTime"
                (kruOnClick)="scrollToActivity()"
                (kruOnEnd)="showNotification()"
                *ngIf="countdownTime"
                [kruTooltip]="countdownTooltip"
                tooltipPosition="bottom"></kruCountdown>
                <div
                    class="layout__item btn btn--border text-no-wrap tooltip"
                    *ngIf="notificationModel.attributes().get('canRequest')"
                    (click)="askBrowserNotificationPermission()" [kruTooltip]="'room.notification-tooltip' | translate"
                    [tooltipForce]="notificationModel.attributes().get('highlight')">
                    <span class="ti-bell"></span>
                </div>
            </div>
        </kruHeader>
        <div class="container container--app layout-vertical" >
            <div class="layout-vertical spacing-l flex" [ngClass]="{'hide--phone': place}">
                <kruTimeBlock
                    class="layout__item"
                    *ngFor="let block of blocks.all();trackBy: trackBlocks; let i = index;"
                    [kruBlocks]="block"
                    [hideTimeline]="i == 0"
                    (onViewport)="setHeaderText($event)"
                    (onMenuClick)="openPlace($event)"
                    (onJoin)="join($event)"
                    (onLeave)="leave($event)"
                    (onRecommend)="onRecommendClick($event)"></kruTimeBlock>
                <div class="layout-vertical align-cc" *ngIf="blocks.isEmpty()">
                    <p class="color-black text-slim text-center" [innerHTML]="motivationText" style="margin-top: 64px;"></p>
                </div>
            </div>
            <div class="position-side layout-vertical spacing-l" *ngIf="place">
                <div class="layout__item layout-horizontal spacing-between align-sc">
                    <h2 class="layout__item flex">{{'room.menu.title' | translate}}</h2>
                    <div class="layout__item shadow-wrapper shadow--full-radius action-navigation-item ">
                        <button class="btn btn--secondary btn--action" (click)="closePlace()">
                            <span class="ti-close"></span>
                        </button>
                    </div>
                </div>
                <div
                    class="layout__item"
                    *ngIf="!place.hasDailyMenu()">
                    {{'room.menu.no-result' | translate}}
                </div>
                <kruDailyMenu
                    class="layout__item"
                    *ngIf="place.hasDailyMenu()"
                    [menu]="place.getDailyMenu()"
                    (kruClose)="closePlace()"></kruDailyMenu>
            </div>
        </div>
    </div>
    <kruPlace
        class="hide--gt-small"
        *ngIf="place"
        [place]="place"
        (onClose)="closePlace()"
        [loading]="model?.loading().is()"></kruPlace>
</div>