<div class="layout-vertical spacing-l">
    <div *ngIf="!hideTimeline" class="layout__item timeline layout-horizontal align-cc">
        <div class="timeline-time">{{block.getTime() | date:'HH:mm'}}</div>
    </div>
    <div class="layout__item layout-vertical spacing-s">
        <div class="layout__item" *ngIf="!block.activities().isEmpty()">
            <kruActivity
                *ngFor="let activity of block.activities().all();trackBy: trackActivities"
                [kruActivity]="activity"
                (onMenuClick)="menuClickEmitter.emit($event)"
                (onJoin)="joinEmitter.emit($event)"
                (onLeave)="leaveEmitter.emit($event)"></kruActivity>
        </div>
        <button
            class="layout__item btn btn--border layout-horizontal spacing-s align-sc text-ellipsis"
            (click)="recommend(place)"
            *ngFor="let place of block.recommendations().all()">
                <span class="layout__item ti-plus"></span>
                <span class="layout__item text-ellipsis">{{place.getName()}}</span>
        </button>
    </div>
</div>