<div [ngClass]="{'form__input--loading-animation': model?.loading().is()}">
    <input 
        class="form__input"
        type="text"
        autocomplete="off"
        [attr.placeholder]="placeholder"
        [(ngModel)]="inputValue"
        (ngModelChange)="onInputChange($event)"
        (focus)="onFocus()"
        (blur)="onBlur()"
        kruAutofocus
        (keydown)="onKeydown($event)"
        [attr.aria-label]="placeholder">
    <div class="autocomplete__options autocomplete__options--{{position}}" *ngIf="optionsVisible">
        <div 
            class="autocomplete__options-item layout-horizontal spacing-betweenc"
            *ngFor="let option of options.all(); let i = index;"
            [ngClass]="{'autocomplete__options-item--active': option.getAttribute('active')}"
            (mouseenter)="activateItem(option)"
            (mousedown)="selectValue(option.getValue())">
            <span class="layout__item text-ellipsis">{{option.getName()}}</span>
            <span class="layout__item text-small text-ellipsis">{{option.getOptions().more}}</span>
        </div>
    </div>
</div>