<div>
    <kruHeader (onBack)="closePlace()" [loading]="loading">
        <h2 class="text-ellipsis flex">
            <span>Menu</span>
        </h2>
    </kruHeader>
    <div class="container container--app">
        <div class="layout-vertical">
            <div *ngIf="!place.hasDailyMenu()">
                Menu nie je k dispozícií.
            </div>
            <kruDailyMenu *ngIf="place.hasDailyMenu()" [menu]="place.getDailyMenu()"></kruDailyMenu>
        </div>
    </div>
</div>