<div class="flex">
    <kruNavigation
        [navigationModel]="navigationModel"
        (onCreate)="onCreate()"
        (onCreateClose)="navigationClose()"
        (onProfile)="onProfile()"
        (onProfileClose)="navigationClose()"
        (onShare)="share()"></kruNavigation>
    <router-outlet (activate)="onActivateRoute($event)" #routerOutlet></router-outlet>
</div>