<div class="navigation">
    <div 
        class="navigation__item shadow-wrapper shadow--full-radius"
        [ngClass]="{'shadow--highlight': false}">
        <button class="btn btn--primary btn--action tooltip"
            [kruTooltip]="'room.navigation.create-tooltip' | translate"
            tooltipPosition="right"
            (click)="createEmitter.emit()"
            *ngIf="!createActiveProperty"
            aria-label="create lunch"
            type="button">
            <span class="ti-plus"></span>
        </button>
        <button class="btn btn--action btn--secondary tooltip"
            [kruTooltip]="'room.navigation.create-close-tooltip' | translate"
            tooltipPosition="right"
            (click)="createCloseEmitter.emit()"
            *ngIf="createActiveProperty"
            aria-label="cancel lunch creation"
            type="button">
            <span class="ti-close"></span>
        </button>
    </div>
    <div class="navigation__item shadow-wrapper shadow--full-radius">
        <button class="btn btn--primary btn--action tooltip"
            [kruTooltip]="'room.navigation.profile-tooltip' | translate"
            tooltipPosition="right"
            (click)="profileEmitter.emit()"
            *ngIf="!profileActiveProperty"
            aria-label="show profile"
            type="button">
            <span class="ti-user" ></span>
        </button>
        <button class="btn btn--action btn--secondary tooltip"
            [kruTooltip]="'room.navigation.profile-close-tooltip' | translate"
            tooltipPosition="right"
            (click)="profileCloseEmitter.emit()"
            *ngIf="profileActiveProperty"
            aria-label="close profile"
            type="button">
            <span class="ti-close"></span>
        </button>
    </div>
    <div class="navigation__item shadow-wrapper shadow--full-radius">
        <button class="btn btn--primary btn--action tooltip"
            [kruTooltip]="'room.navigation.share' | translate"
            tooltipPosition="right"
            (click)="shareEmitter.emit()"
            aria-label="copy link to clipboard"
            tabindex=0>
            <span class="ti-link"></span>
        </button>
    </div>
</div>