<div class="layout-horizontal">
    <div class="layout-vertical spacing-m flex">
        <div class="layout__item card__header layout-horizontal spacing-betweenc">
            <h3 class="layout-horizontal align-sc spacing-m">
                <span *ngIf="activity.getPlace().getDailyMenu()" class="layout__item tag tag--glass clickable" (click)="showPlace(activity.getPlace())">
                    {{'room.activity.menu' | translate}}
                </span>
                <span class="layout__item">{{activity.getPlace().getName()}}</span>
            </h3>
            <div class="color-secondary" *ngIf="model.attributes().get('new')" [@animate]="">
                AA{{'room.activity.new' | translate}}
            </div>
        </div>
        <div class="layout__item card__body text-as-is" *ngIf="activity.getInfo() != ''">
            <kruFormatText [kruText]="activity.getInfo()"></kruFormatText>
        </div>
        <div class="layout__item card__body layout-vertical spacing-s" *ngIf="isPeopleVisible()">
            <div class="layout__item layout-horizontal spacing-s align-sc" *ngFor="let user of activity.getUsers(); trackBy: trackPreviewUsers">
                <kruUserInitials
                    [kruUser]="user"
                    class="layout__item"></kruUserInitials>
                <div class="layout__item">
                    {{user.getName()}}
                </div>
            </div>
        </div>
        <div class="layout__item card__footer layout-horizontal align-ce">
            <div class="layout__item layout-horizontal spacing-s flex">
                <kruUserInitials 
                class="layout__item divify initials--clickable"
                *ngFor="let user of getPreviewUsers(); trackBy: trackPreviewUsers"
                [kruTooltip]="user.getName()"
                tooltipPosition="bottom"
                [kruUser]="user"
                (click)="togglePeople()"></kruUserInitials>
                <button
                    *ngIf="getPlusUsers() > 0"
                    class="layout__item initials initials--btn"
                    (click)="togglePeople()">
                    +{{getPlusUsers()}}
                </button>
            </div>
            <div class="layout__item shadow-wrapper shadow--primary" *ngIf="!model.attributes().get('selected')">
                <button class="btn btn--primary" type="button" (click)="join()">
                    {{'room.activity.join' | translate}}
                </button>
            </div>
            <div class="layout__item shadow-wrapper shadow--primary" *ngIf="model.attributes().get('selected')">
                <button class="btn btn--primary" type="button" (click)="leave()">
                    {{'room.activity.leave' | translate}}
                </button>
            </div>
        </div>
    </div>
</div>