<div class="toast layout-vertical spacing-m">
    <div class="layout__item toast__item" *ngFor="let toast of toasts.all()" [@animate]="" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="shadow-wrapper shadow--active shadow--dark">
            <kruToast class="toast__item-body" [text]="toast.getMessage()"></kruToast>
        </div>
    </div>
</div>