.toast {
    width: 100%;
    box-sizing: border-box;
    z-index: 5;

    &__item-body {
        position: relative;
        display: block;
        background-color: var(--toast-color-bg);
        color: var(--toast-color-fg);
        padding: 16px;
        border-radius: 5px;
    }

    &__item {
        font-size: 1em;
    }
}