<div>
    <kruHeader (onBack)="back()">
        <div class="tabs layout-horizontal spacing-m">
            <a class="layout__item tabs__link" (click)="back()">
                {{'step.tabs.time' | translate}}
            </a>
            <a class="layout__item tabs__link tabs__link--active">
                {{'step.tabs.place' | translate}}
            </a>
            <a class="layout__item tabs__link tabs__link--disabled">
                {{'step.tabs.info' | translate}}
            </a>
        </div>
    </kruHeader>
    <div class="container container--app">
        <div class="layout-vertical spacing-l">
            <div class="layout__item layout-vertical spacing-s">
                <h3 class="layout__item text-center">
                    {{'step.place.title' | translate}}
                </h3>
                <div class="layout__item text-error text-center text-small" *ngIf="!stepValid">
                    {{'step.place.validation' | translate}}
                </div>
            </div>
            <div class="layout__item layout-horizontal align-cc" *ngIf="geoipProperty.get()?.display()">
                <button 
                    class="btn btn--border"
                    (click)="requestGeolocation()"
                    [kruTooltip]="'step.place.location-tooltip' | translate">
                    {{geoipProperty.get()?.display()}}
                </button>
            </div>
            <form (ngSubmit)="submit()" class="layout__item layout-vertical spacing-m hide-small">
                <kruAutocompleteInput
                    class="layout__item"
                    [(ngModel)]="activity.place"
                    (ngModelChange)="onPlaceChange($event)"
                    [ngModelOptions]="{standalone: true}"
                    (onInputChange)="loadPlaceOptions($event)"
                    [autocompleteOptions]="options"
                    [autocompletePlaceholder]="'step.place.placeholder' | translate"
                    [componentModel]="placeAutocompleteModel"
                    autocompletePosition="bottom"></kruAutocompleteInput>
                <div class="hide-small layout__item layout-horizontal align-es">
                    <div class="shadow-wrapper">
                        <button
                            class="btn btn--primary"
                            type="submit"
                            [disabled]="!stepValid">
                            {{'step.place.next' | translate}}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="position-fixed-bottom hide-medium hide-large">
        <form (ngSubmit)="submit()" class="layout-horizontal align-cc spacing-m flex">
            <kruAutocompleteInput
                class="layout__item flex"
                [(ngModel)]="activity.place"
                (ngModelChange)="onPlaceChange($event)"
                [ngModelOptions]="{standalone: true}"
                (onInputChange)="loadPlaceOptions($event)"
                [autocompleteOptions]="options"
                [componentModel]="placeAutocompleteModel"
                autocompletePosition="top"></kruAutocompleteInput>
            <div class="layout__item shadow-wrapper shadow--full-radius">
                <button
                    class="btn btn--primary btn--action"
                    type="submit"
                    [disabled]="!stepValid"
                    aria-label="next step">
                    <span class="ti-arrow-right"></span>
                </button>
            </div>
        </form>
    </div>
</div>