<div class="pane layout-vertical">
    <div class="container layout-horizontal align-cc flex">
        <div class="layout-vertical spacing-l">
            <h1 class="layout__item container-title">{{'welcome.title' | translate}}</h1>
            <p class="layout__item" [innerHTML]="'welcome.description' | translate"></p>
            <form class="layout__item layout-vertical" ngForm name="name_update" (ngSubmit)="create($event)">
                <div class="layout-horizontal flex" [ngClass]="{'form__input--loading-animation':model.loading().is()}">
                    <input
                        class="form__input form__input--important combine-border-horizontal flex"
                        style="width: auto;"
                        type="text"
                        name="name"
                        [attr.placeholder]="'welcome.placeholder' | translate"
                        [(ngModel)]="name"
                        aria-label="your name"
                        kruAutofocus>
                    <button [disabled]="model.loading().is()" class="btn btn--primary combine-border-horizontal" type="submit">{{'welcome.go' | translate}}</button>
                </div>
            </form>
        </div>
    </div>
</div>