@import "config";

$animation-type: ease;
$animation-duration: 250ms;

$animation-type: ease;
$animation-slow-duration: 500ms;
$shadow-size: 6px;

@keyframes shadow-pulse {
    0% {
        left: 1px;
        top: 1px;
        right: 1px;
        bottom: 1px;
        opacity: 0.5;
    }
    75% {
        left: -$shadow-size * 4;
        top: -$shadow-size * 4;
        right: -$shadow-size * 4;
        bottom: -$shadow-size * 4;
        opacity: 0;
    }
    100% {
        left: 1px;
        top: 1px;
        right: 1px;
        bottom: 1px;
        opacity: 0;
    }
}

$baseWidth: 3px;
$maxWidth: 20%;
$translateLow: -50%;
$translateHight: -50%;
@keyframes round-and-round {
    0% {
        left: 0px;
        top: 100%;
        width: $baseWidth;
        height: $baseWidth;
        border-radius: 100%;
        transform: translateX($translateLow) translateY($translateHight);
    }
    22% {
        width: $maxWidth;
        height: $baseWidth;
        border-radius: 0 0 50% 50%/0% 0% 100% 100%;
        transform: translateX(-50%) translateY(-50%);
    }
    44% {
        left: 100%;
        top: 100%;
        width: $baseWidth;
        height: $baseWidth;
        border-radius: 100%;
        transform: translateX($translateHight) translateY($translateHight);
    }
    47% {
        width: $baseWidth;
        height: $maxWidth;
        transform: translateX(-50%) translateY(-50%);
    }
    50% {
        left: 100%;
        top: 0%;
        width: $baseWidth;
        height: $baseWidth;
        border-radius: 100%;
        transform: translateX($translateHight) translateY($translateLow);
    }
    72% {
        width: $maxWidth;
        height: $baseWidth;
        transform: translateX(-50%) translateY(-50%);
        border-radius: 50% 50% 0 0/100% 100% 0% 0%;
    }
    94% {
        left: 0%;
        top: 0%;
        width: $baseWidth;
        height: $baseWidth;
        border-radius: 100%;
        transform: translateX($translateLow) translateY($translateLow);
    }
    97% {
        width: $baseWidth;
        height: $maxWidth;
        transform: translateX(-50%) translateY(-50%);
    }
    100% {
        left: 0%;
        top: 100%;
        width: $baseWidth;
        height: $baseWidth;
        border-radius: 100%;
        transform: translateX($translateLow) translateY($translateHight);
    }
}

$baseWidth: 3px;
@keyframes under-line {
    0% {
        left: 0px;
        top: 100%;
        width: $baseWidth;
        height: $baseWidth;
        border-radius: 0 0 50% 50%/0% 0% 100% 100%;
        transform: translateX(-50%) translateY(0%);
    }
    50% {
        width: $maxWidth;   
        border-radius: 0 0 50% 50%/0% 0% 100% 100%;
        transform: translateX(-50%) translateY(0%);
    }
    100% {
        left: 100%;
        top: 100%;
        width: $baseWidth;
        height: $baseWidth;
        border-radius: 0 0 50% 50%/0% 0% 100% 100%;
        transform: translateX(-50%) translateY(0%);
    }
}

@keyframes animate-background {
    0% {
        background-color: var(--color-bg);
    }
    75% {
        background-color: var(--color-shadow);
    }
    100% {
        background-color: var(--color-bg);
    }
}