@import "config";

.flex {
    flex: 1 0 auto;
}

.flex-base {
    flex: 1 0 0%;
}

.layout-vertical {
    display: flex;
    flex-direction: column;

    @each $sizeName, $size in $sizes {
        &.spacing-#{$sizeName} > .layout__item {
            margin-top: $size;
        }
        &.spacing-#{$sizeName} > .layout__item:first-child {
            margin-top: 0px;
        }
    }

    .layout--grow {
        flex: 1 0 0;
    }

    &.align-cs {
        justify-content: center;
    }

    &.align-sc {
        justify-content: flex-start;
        align-items: center;
    }
}

.layout-horizontal {
    display: flex;
    flex-direction: row;

    @each $sizeName, $size in $sizes {
        &.spacing-#{$sizeName} > .layout__item {
            margin-left: $size;
        }
        &.spacing-#{$sizeName} > .layout__item:first-child {
            margin-left: 0px;
        }
    }

    &.spacing-between {
        justify-content: space-between;
    }

    &.spacing-betweenc {
        justify-content: space-between;
        align-items: center;
    }

    &.align-cc {
        justify-content: center;
        align-items: center;
    }

    &.align-cs {
        justify-content: center;
        align-items: start;
    }

    &.align-sc {
        justify-content: start;
        align-items: center;
    }

    &.align-sb {
        justify-content: start;
        align-items: bottom;
    }

    &.align-ce {
        justify-content: center;
        align-items: flex-end;
    }

    &.align-ec {
        justify-content: flex-end;
        align-items: center;
    }

    &.align-es {
        justify-content: flex-end;
        align-items: flex-start;
    }
}

@each $sizeName, $size in $sizes {
    .space-vertical-#{$sizeName} {
        margin-top: $size;
        margin-bottom: $size;
    }
    .space-horizontal-#{$sizeName} {
        margin-left: $size;
        margin-right: $size;
    }
}