@import "config";
@import "reset";
@import "text";
@import "layout";
@import "visibility";
@import "helpers";

@import "tooltip";

@import "animations";

.combine-border-vertical:not(:first-child) {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.combine-border-vertical:not(:last-child) {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.combine-border-horizontal:not(:first-child) {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.combine-border-horizontal:not(:last-child) {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}