.text {
    &-giant {
        font-size: 4.0em;
    }

    &-large {
        font-size: 1.5em;
    }

    &-small {
        font-size: 0.75em;
    }

    &-primary {
        color: var(--color-primary);
    }

    &-secondary {
        color: var(--color-secondary);
    }

    &-auxiliary {
        color: var(--color-text-auxiliary);
    }

    &-error {
        color: var(--color-text-error);
    }

    &-bold {
        font-weight: bold;
    }

    &-slim {
        font-weight: 100;
    }

    &-right {
        text-align: right;
    }

    &-left {
        text-align: left;
    }
    
    &-center {
        text-align: center;
    }

    &-ellipsis {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        line-height: 1.3em;
    }

    &-no-wrap {
        white-space: nowrap;
    }

    &-as-is {
        white-space: pre-wrap;
    }
}