.tooltip {
    $self: &;

    &:hover::after, &--show::after {
        content: attr(data-tooltip);
        padding: var(--size-s) var(--size-m);
        border-radius: 7px;
        background-color: var(--tooltip-color-bg);
        color: var(--tooltip-color-fg);
        position: absolute;
        white-space: nowrap;
        z-index: 10;
    }

    &:hover::before, &--show::before {
        content: '';
        display: block;  
        position: absolute;
        width: 0;
        height: 0;
        border: 10px solid transparent;
        box-sizing: border-box;
        z-index: 10;
    }

    &#{$self}--bottom::before, &#{$self}--bottom::after,
    &#{$self}--bottom-left::before, &#{$self}--bottom-left::after,
    &#{$self}--bottom-right::before, &#{$self}--bottom-right::after {
        top: 100%;
    }

    &#{$self}--bottom::before, &#{$self}--bottom-left::before,
    &#{$self}--bottom-right::before {
        border-bottom-color: var(--tooltip-color-bg);
        left: 50%;
        transform: translateX(-50%);
    }

    &#{$self}--bottom {
        &::after {
            left: 50%;
            transform: translateX(-50%) translateY(var(--size-m));
        }
    }

    &#{$self}--bottom-left {
        &::after {
            right: 0%;
            transform: translateY(var(--size-m));
        }
    }

    &#{$self}--bottom-right {
        &::after {
            left: 0%;
            transform: translateY(var(--size-m));
        }
    }

    &#{$self}--top::before, &#{$self}--top::after,
    &#{$self}--top-left::before, &#{$self}--top-left::after,
    &#{$self}--top-right::before, &#{$self}--top-right::after {
        bottom: 100%;
    }

    &#{$self}--top::before, &#{$self}--top-left::before,
    &#{$self}--top-right::before {
        border-top-color: var(--tooltip-color-bg);
        left: 50%;
        transform: translateX(-50%);
    }

    &#{$self}--top {
        &::after {
            left: 50%;
            transform: translateX(-50%) translateY(calc(var(--size-m) * -1 ));
        }
    }

    &#{$self}--top-left {
        &::after {
            right: 0%;
            transform: translateY(calc(var(--size-m) * -1));
        }
    }

    &#{$self}--top-right {
        &::after {
            left: 0%;
            transform: translateY(calc(var(--size-m) * -1));
        }
    }

    &#{$self}--right::after {
        top: 50%;
        left: 100%;
        transform: translateY(-50%) translateX(var(--size-m));
    }

    &#{$self}--right:before {
        top: 50%;
        left: 100%;
        transform: translateY(-50%);
        border-right-color: var(--tooltip-color-bg);
    }

    &#{$self}--left::after {
        top: 50%;
        right: 100%;
        transform: translateY(-50%) translateX(-var(--size-m));
    }

    &#{$self}--left:before {
        top: 50%;
        right: 100%;
        transform: translateY(-50%);
        border-left-color: var(--tooltip-color-bg);
    }
}