@import "config";

$prev: 0px;
@each $breakpointName, $breakpointValue in $breakpoints {
    @media only screen and (max-width: $breakpointValue) and (min-width: $prev) {
        .hide-#{$breakpointName} {
            display: none;
        }
    }
    $prev: $breakpointValue;
}

@media only screen and (min-width: $prev) {
    .hide-large {
        display: none;
    }
}